/* Register.css */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    width: 100%;
    height: 100vh; /* Full viewport height */
    max-width: 600px; /* Limit the width of the container */
    margin: auto;     /* Center the container on the page */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.register-title {
    text-align: center;
    color: #333;
    font-size: 30px; /* Increased font size */
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width of the container */
}

.form-group {
    margin-bottom: 20px; /* Increased space between inputs */
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* Increased font size */
}

.form-group select {
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 16px; /* Increased font size for error */
    margin-bottom: 20px;
    text-align: center;
}

.register-btn {
    padding: 15px; /* Increased padding */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #0056b3;
}
